@use "../../styles/tp-tokens" as tp;

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: tp.$slate-100;
}

.bodyRow {
  display: flex;
  height: calc(100vh - 62px);
  overflow: hidden;
}

.aside {
  height: 100%;
  flex-shrink: 0;
}

.main {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: tp.$slate-100;
}
